<a href="https://colab.research.google.com/github/jadenkr/DATASCI112/blob/main/FinalProject_DataCollection_JR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Navajo Nation Water Quality - Data Collecting & Cleaning

[NTUA](https://www.ntua.com/index.html) is a utility company on the Navajo Nation that reports water quality across the Navajo Nation in various communities. My question is how can I take that data and make predictions about the amount of Arsenic that is in the water supplies given the other elements present like Chlorine and Copper for example.

My process for getting the data is as follows:
- `Scraping data` : I use colab to download the pdfs from the NTUA website that reports the water quality.
- `Cleaning data` : I then convert the pdfs to text and parse the text for the chemicals present and their associated measurements to put into a dataframe.
- `Location collecting` : After I have the NTUA data, I get longitudes, latitudes and altitudes from Google given the town and state the water samples are from. Adding them to the dataframe.

# **Scraping data**

In [ ]:
# importing required library that converts a pdf to text.
!pip install PyPDF2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: PyPDF2 in /usr/local/lib/python3.9/dist-packages (3.0.1)
Requirement already satisfied: typing_extensions>=3.10.0.0 in /usr/local/lib/python3.9/dist-packages (from PyPDF2) (4.5.0)

In [ ]:
import requests
from bs4 import BeautifulSoup

# html parse the NTUA website to get the hyperlinks to the required pdfs.
response = requests.get("https://www.ntua.com/2021-ccr.html")
soup = BeautifulSoup(response.text, "html.parser")

# Here, I found that ul was the type that contained the hyperlinks to the data pdfs.
districts = soup.find("ul", attrs={"id": "accordionu1125362"})

# Now, I store the hyperlinks in the hyperlinks dictionary so I can access them later.
hyperlinks = []
file_names = []
for district in districts.find_all("li"):
  for community in district.find_all("a"):
    link = community["href"]
    file_names.append(link[7:])
    hyperlinks.append("https://www.ntua.com/" + link)

In [ ]:
# I use this to gain access to my Google Drive where I'll download the files to and store/acces them.
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
# Only need to run once
# This goes to each link and downloads the pdf associated to my Google Drive
i = 0
for hyperlink in hyperlinks:
  file_url = hyperlink
  r = requests.get(file_url, stream = True) 
  
  with open("/content/gdrive/MyDrive/ColabNotebooks/DATASCI112_FinalProject/" + file_names[i], "wb") as file: 
      for block in r.iter_content(chunk_size = 1024):
          if block: 
              file.write(block) 
  i += 1

# Cleaning data

In [ ]:
# Here, I use the PyPDF2 library to read the pdfs in as text.
from PyPDF2 import PdfReader

corpus = {}
for file_name in file_names:
  # Duplicated document that needs to be taken out.
  if file_name == "2021ccr_ganado-nn0403001.pdf":
    continue
  # creating a pdf reader object
  reader = PdfReader("/content/gdrive/MyDrive/ColabNotebooks/DATASCI112_FinalProject/" + file_name)
 
  # get number of pages in pdf file
  num_pages = len(reader.pages)

  # Iterate through the pages until we find the page with the Water Quality Table.
  # Then add that text to a corpus.
  for i in range(num_pages):
    page = reader.pages[i]
    # extracting text from page
    text = page.extract_text()
    if "Water Quality Table" in text:
      corpus[file_name] = text
  
  # Outliers that did not have the title "Water Quality Table" in the pdf
  if file_name == "2021ccr_pine-springs--nn0400813.pdf":
    page = reader.pages[1]
    text = page.extract_text()
    corpus[file_name] = "Water Quality Table - NN0400813 - Pine Springs, Arizona " + text

  if file_name == "2021ccr_chinle-nn0400174.pdf":
    page = reader.pages[1]
    text = page.extract_text()
    corpus[file_name] = "Water Quality Table - NN0400174 - Chinle, Arizona " + text

  if file_name == "2021ccr_kitsillie-nn0400253.pdf":
    page = reader.pages[1]
    text = page.extract_text()
    corpus[file_name] = "Water Quality Table - NN0400253 - Black Mesa, Arizona " + text

  if file_name == "2021ccr_mariano-lake-nn3500211.pdf":
    page = reader.pages[1]
    text = page.extract_text()
    corpus[file_name] = "Water Quality Table - NN3500211 - Mariano Lake, New Mexico " + text

  if file_name == "2021ccr_dzilthnaodithhle-nn3503045.pdf":
    page = reader.pages[1]
    text = page.extract_text()
    corpus[file_name] = "Water Quality Table - NN3503045 - Dzil Na'oodilii, New Mexico " + text

  if file_name == "2021ccr_keyah-i-napi--nn3503054.pdf":
    page = reader.pages[1]
    text = page.extract_text()
    corpus[file_name] = "Water Quality Table - NN3503054 - Napi region 1, New Mexico " + text

  if file_name == "2021ccr_mittenrock--nn3503057.pdf":
    page = reader.pages[1]
    text = page.extract_text()
    corpus[file_name] = "Water Quality Table - NN3503057 - Mitten Rock, New Mexico " + text

  if file_name == "2021ccr_coal-mine-mesa-nn0400207.pdf":
    page = reader.pages[1]
    text = page.extract_text()
    corpus[file_name] = "Water Quality Table - NN0400207 - Coal Mine Mesa, Arizona " + text

  if file_name == "2021ccr_lachee-nn403006.pdf":
    page = reader.pages[1]
    text = page.extract_text()
    corpus[file_name] = "Water Quality Table - NN403006 - LeChee, Arizona " + text

In [ ]:
# Lists of chemicals we want to include in dataframe and what data we want from each of them.
Chlorine = ["Chlorine Max Level", "Chlorine Measured Level", "Chlorine Exceeded"]
HAA5 = ["Five Haloacetic Acids Max Level", "Five Haloacetic Acids Measured Level", "Five Haloacetic Acids Exceeded"]
Arsenic = ["Arsenic Max Level", "Arsenic Measured Level", "Arsenic Exceeded"]
Barium = ["Barium Max Level", "Barium Measured Level", "Barium Exceeded"]
Fluoride = ["Fluoride Max Level", "Fluoride Measured Level", "Fluoride Exceeded"]
Nitrate = ["Nitrate Max Level", "Nitrate Measured Level", "Nitrate Exceeded"]
Sodium = ["Sodium Max Level", "Sodium Measured Level", "Sodium Exceeded"]
AdjustedAlpha = ["Adjusted Alpha Max Level", "Adjusted Alpha Measured Level", "Adjusted Alpha Exceeded"]
Uranium = ["Uranium Max Level", "Uranium Measured Level", "Uranium Exceeded"]
Copper = ["Copper Max Level", "Copper Measured Level", "Copper Exceeded"]
Lead = ["Lead Max Level", "Lead Measured Level", "Lead Exceeded"]

# List of other data we also want to store
community_data = ["Public Water System ID #", "Community Name", "State"]

# Combining chemicals and other data into a list to iterate through
chemicals = [community_data, Chlorine, HAA5, Arsenic, Barium, Fluoride, Nitrate, Sodium, AdjustedAlpha, Uranium, Copper, Lead]
keys = []
for chemical in chemicals:
  for data in chemical:
    keys.append(data)
 
# initialize dictionary
data = {}
 
# iterating through the elements of list
for i in keys:
    data[i] = []

In [ ]:
# Library needed for creating NaN values.
from numpy import NaN

## Put the data from the pdfs into the data dictionary I created above
for texts in corpus:
  # This portion auto-populates the dictionary with NaN values which we then replace later
  # if the pdf has data for it. If not, they remain NaN values.
  for key in data:
    data[key].append(NaN)

  # This section cleans data for the Public Water System Id number, community name and state
  # portions to be added to the data dictionary.
  text = corpus[texts]
  PWSID_index = ["Public Water System ID #: ", "Water Quality Table - "]

  # We have three states: Arizona, New Mexico, and Utah. However, Some community reports
  # do have have a state listed and/or their name is their Navajo version not what you find
  # written on the map.
  States = ["Aneth", "Boardman Loop", "Carson and Huerfano", "Casa Del Eco Mesa", "Cove", "Coyote Canyon", "Defiance",
            "Dennehotso", "Narbona Pass", "Mexican Hat", "Mexican Springs West", "Mexican Water",
            "Montezuma Creek", "Nageezi", "Newcomb", "Red Mesa", "Red Valley North", "Sanostee", "Sweetwater",
            "Teec Nos Pos", "Toadlena", "Todahaidekani", "White Post Mission",
            "Arizona", "New Mexico"]
  for word_mark in PWSID_index:
    if text.find(word_mark) > -1:
      index = (text.find(word_mark) + len(word_mark))
      for state in States:
        if text.find(state) > -1:
          end = (text.find(state) + len(state))
          comm_data = text[index : end].replace('-', '').replace('#', '')

  ## This portion populates the data dictionary with Public Water System Id number, community
  # name and state.
  strip_PWSID = comm_data.split()
  PWS_ID_NUM = strip_PWSID[0]
  community_name = ""

  for k in range(1, len(strip_PWSID)):
    if strip_PWSID[k] == "Arizona":
      community_name = community_name[:-2]
      cur_state = strip_PWSID[k]
      break
    if strip_PWSID[k] == "Mexico":
      community_name = community_name[:-6]
      cur_state = strip_PWSID[k-1] + " " + strip_PWSID[k]
      break
    else:
      cur_state = "AZ"
    community_name += strip_PWSID[k] + " "

  data["Public Water System ID #"][-1] = PWS_ID_NUM
  data["Community Name"][-1] = community_name
  data["State"][-1] = cur_state

  # I bin the sections of the table into these portions so that it is easier to find the chemical
  # data we need without getting lost in the text.
  contaminants = ["DISINFECTANTS", "DISINFECTIONS",
                  "DISINFECTION BY-PRODUCTS", "INORGANIC CONTAMINANTS", "RADIOLOGICAL CONTAMINANTS",
                  "Lead and Copper Rule", "LEAD AND COPPER RULE"]
  contaminants_index = []
  for contaminant in contaminants:
    # Only get indexes of contaminants that are reported
    if text.find(contaminant) > -1:
      contaminants_index.append(text.find(contaminant) + len(contaminant))
    if len(contaminants_index) > 1:
      if contaminants_index[-1] < contaminants_index[-2]:
        del contaminants_index[-2]
    
  # A good end index for the last block "Lead and Copper Rule"
  contaminants_index.append(contaminants_index[-1] + 540)

  # Here, I scan the text blocks for chemical names and then add their associated values.
  chemical_names = ["Chlorine", "Five Haloacetic Acids", "Arsenic", "Barium", "Fluoride", "Nitrate", "Sodium", "Adjusted Alpha", "Uranium", "Copper", "Lead"]
  for c in range(len(contaminants_index)):

    # This portion tells the code to stop when we reach the end of the available indexes.
    # (When we have all the text from the table)
    if c == len(contaminants_index) - 1:
      break

    # Loop throught the sections of the table and begin adding the data.
    # (Some chemicals needed special treatment for their values like Sodium
    #  which doesn't have a max level)
    contaminant_section = text[contaminants_index[c] : contaminants_index[c+1]]
    contaminant_section.split()[0]
    for chemical_name in chemical_names:
      if chemical_name.split()[0] not in contaminant_section.split():
        continue
      chemical_name_index = contaminant_section.split().index(chemical_name.split()[0])
      data_index = contaminant_section.split()[chemical_name_index + 1:]

      for i in range(len(data_index)):
        # Special case for Five Haloacetic Acids
        if chemical_name == "Five Haloacetic Acids":
          if not data_index[i][0].isdigit():
            continue
          if data_index[i][0].isdigit() and data_index[i][-1].isdigit():
            data[chemical_name + " Max Level"][-1] = float(data_index[i])
            if data_index[i].isdigit() and data_index[i][-1].isdigit():
              data[chemical_name + " Measured Level"][-1] = float(data_index[i+1])
            if float(data_index[i+1]) > float(data_index[i]):
              data[chemical_name + " Exceeded"][-1] = "Yes"
            else:
              data[chemical_name + " Exceeded"][-1] = "No"
            break

        # Special case for Sodium
        if chemical_name == "Sodium":
          if not data_index[i][0].isdigit():
            continue
          if data_index[i][0].isdigit():
            data[chemical_name + " Measured Level"][-1] = float(data_index[i])
            data[chemical_name + " Max Level"][-1] = float(NaN)
            data[chemical_name + " Exceeded"][-1] = "No"
            break

        ## Special case for Copper
        if chemical_name == "Copper":
          if not data_index[i][0].isdigit():
            continue
          if data_index[i][0].isdigit():
            data[chemical_name + " Max Level"][-1] = float(data_index[i+1])
            data[chemical_name + " Measured Level"][-1] = float(data_index[i+2])
            if float(data_index[i+2]) > float(data_index[i+1]):
              data[chemical_name + " Exceeded"][-1] = "Yes"
            else:
              data[chemical_name + " Exceeded"][-1] = "No"
            break

        ## Special case for Lead
        if chemical_name == "Lead":
          if not data_index[i][0].isdigit():
            continue
          if data_index[i][0].isdigit():
            data[chemical_name + " Max Level"][-1] = float(data_index[i+1])
            data[chemical_name + " Measured Level"][-1] = float(data_index[i+2])
            if float(data_index[i+2]) > float(data_index[i+1]):
              data[chemical_name + " Exceeded"][-1] = "Yes"
            else:
              data[chemical_name + " Exceeded"][-1] = "No"
            break

        ## All other chemicals
        if not data_index[i][0].isdigit():
          continue
        if data_index[i+1][0].isdigit():
          data[chemical_name + " Max Level"][-1] = float(data_index[i+1])
          if data_index[i+1].isdigit():
            data[chemical_name + " Measured Level"][-1] = float(data_index[i+2])
          if float(data_index[i+2]) > float(data_index[i+1]):
            data[chemical_name + " Exceeded"][-1] = "Yes"
          else:
            data[chemical_name + " Exceeded"][-1] = "No"
          break

In [ ]:
import pandas as pd
df_waterdata = pd.DataFrame.from_dict(data)
df_waterdata

,Public Water System ID #,Community Name,State,Chlorine Max Level,Chlorine Measured Level,Chlorine Exceeded,Five Haloacetic Acids Max Level,Five Haloacetic Acids Measured Level,Five Haloacetic Acids Exceeded,Arsenic Max Level,...,Adjusted Alpha Exceeded,Uranium Max Level,Uranium Measured Level,Uranium Exceeded,Copper Max Level,Copper Measured Level,Copper Exceeded,Lead Max Level,Lead Measured Level,Lead Exceeded
0,093500302,Rock Springs,New Mexico,4.0,0.6637,No,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.3,0.041,No,NaN,NaN,NaN
1,NN0400280,Houck and Querino Canyon,Arizona,4.0,0.4213,No,NaN,NaN,NaN,NaN,...,NaN,30.0,6.4,No,1.3,0.090,No,15.0,2.0,No
2,NN0400813,Pine Springs,Arizona,4.0,0.2900,No,60.0,2.6,No,NaN,...,No,30.0,2.9,No,1.3,0.476,No,15.0,3.5,No
3,NN0403015,Oak Springs,Arizona,4.0,0.3767,No,NaN,NaN,NaN,10.0,...,NaN,30.0,4.8,No,1.3,0.082,No,NaN,NaN,NaN
4,NN0403025,Sawmill,Arizona,4.0,0.1075,No,60.0,11.0,No,10.0,...,No,30.0,4.0,No,1.3,1.300,No,15.0,2.8,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,NN3503039,"Crownpoint, Littlewater and three Mile Post",New Mexico,4.0,0.7406,No,NaN,NaN,NaN,10.0,...,NaN,30.0,29.0,No,1.3,0.027,No,15.0,2.0,No
89,NN3503041,Ojo Encino North,New Mexico,4.0,0.6154,No,60.0,6.2,No,NaN,...,NaN,30.0,3.1,No,1.3,0.082,No,15.0,1.0,No
90,NN3503060,Casamero Cup,New Mexico,4.0,0.8971,No,NaN,NaN,NaN,NaN,...,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,NN3510002,Boardman Loop,AZ,4.0,0.5992,No,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.3,0.033,No,NaN,NaN,NaN
92,NN0400822,Twin Arrows,Arizona,4.0,0.4292,No,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Location collecting

In [ ]:
df_waterdata.tail(50)

,Public Water System ID #,Community Name,State,Chlorine Max Level,Chlorine Measured Level,Chlorine Exceeded,Five Haloacetic Acids Max Level,Five Haloacetic Acids Measured Level,Five Haloacetic Acids Exceeded,Arsenic Max Level,...,Uranium Max Level,Uranium Measured Level,Uranium Exceeded,Copper Max Level,Copper Measured Level,Copper Exceeded,Lead Max Level,Lead Measured Level,Lead Exceeded,Address
43,NN3503028,Toadlena,AZ,4.0,0.7517,No,NaN,NaN,NaN,10.0,...,30.0,5.0,No,1.3,0.0360,No,NaN,NaN,NaN,"Toadlena , AZ"
44,NN3503031,Narbona Pass,AZ,4.0,0.6425,No,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.3,0.0660,No,15.0,1.0,No,"Narbona Pass , AZ"
45,NN3503045,Dzil Na'oodilii,New Mexico,4.0,1.1967,No,60.0,4.4250,No,NaN,...,NaN,NaN,NaN,1.3,0.2592,No,15.0,1.0,No,"Dzil Na'oodilii, New Mexico"
46,NN3503054,Napi region 1,New Mexico,4.0,0.6108,No,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.3,0.1475,No,NaN,NaN,NaN,"Napi region 1, New Mexico"
47,NN3503057,Mitten Rock,New Mexico,4.0,0.8283,No,NaN,NaN,NaN,10.0,...,NaN,NaN,NaN,1.3,0.0720,No,15.0,2.0,No,"Mitten Rock, New Mexico"
48,NN3503059,Sanostee,AZ,4.0,0.8292,No,NaN,NaN,NaN,10.0,...,30.0,12.4,No,1.3,0.0470,No,NaN,NaN,NaN,"Sanostee , AZ"
49,NN3503063,Carson and Huerfano,AZ,4.0,0.6427,No,60.0,4.1333,No,NaN,...,NaN,NaN,NaN,1.3,0.0550,No,15.0,1.0,No,"Carson and Huerfano , AZ"
50,NN3500245,"Farmington Rural, Shiprock and Beclabito",New Mexico,4.0,0.6027,No,60.0,24.7000,No,NaN,...,NaN,NaN,NaN,1.3,0.2670,No,15.0,2.0,No,"Farmington Rural, Shiprock and Beclabito, New ..."
51,NN0400342,"Dilkon, Indian Wells, Greasewood and White Cone",Arizona,4.0,0.2167,No,60.0,18.1000,No,NaN,...,NaN,NaN,NaN,1.3,0.3180,No,15.0,1.0,No,"Dilkon, Indian Wells, Greasewood and White Con..."
52,NN0403026,Klagetoh,Arizona,4.0,0.4858,No,NaN,NaN,NaN,10.0,...,30.0,2.1,No,1.3,0.1070,No,15.0,1.0,No,"Klagetoh, Arizona"
53,NN0403033,"Leupp, Birdsprings and Tolani Lake",Arizona,4.0,0.7163,No,NaN,NaN,NaN,NaN,...,30.0,15.1,No,1.3,0.1460,No,15.0,1.0,No,"Leupp, Birdsprings and Tolani Lake, Arizona"
54,NN0403100,Jeddito,Arizona,4.0,0.2837,No,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.3,0.0780,No,15.0,3.0,No,"Jeddito, Arizona"
55,NN0403001,"Ganado, Burnside, Cornfield and Steamboat",Arizona,4.0,0.4991,No,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.3,0.1120,No,15.0,2.0,No,"Ganado, Burnside, Cornfield and Steamboat, Ari..."
56,NN0400182,Forest Lake,Arizona,4.0,0.8642,No,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Forest Lake, Arizona"
57,NN0400283,Inscription House and Navajo Mountain,Arizona,4.0,0.5138,No,NaN,NaN,NaN,NaN,...,30.0,1.1,No,1.3,0.1755,No,NaN,NaN,NaN,"Inscription House and Navajo Mountain, Arizona"
58,NN0400286,White Post Mission,AZ,4.0,1.0208,No,NaN,NaN,NaN,NaN,...,30.0,2.7,No,1.3,0.2100,No,15.0,2.3,No,"White Post Mission , AZ"
59,NN0400825,Long House Valley,Arizona,4.0,0.3792,No,NaN,NaN,NaN,NaN,...,30.0,1.9,No,1.3,0.1450,No,15.0,4.6,No,"Long House Valley, Arizona"
60,NN0400290,Chilchinbeto,Arizona,4.0,0.8221,No,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,1.0,No,"Chilchinbeto, Arizona"
61,NN0400296,Dennehotso,AZ,4.0,0.5325,No,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dennehotso , AZ"
62,NN0400322,Shonto,Arizona,4.0,0.6600,No,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.3,0.1210,No,NaN,NaN,NaN,"Shonto, Arizona"
63,NN0400326,Shonto Junction,Arizona,4.0,0.5633,No,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.3,0.0020,No,NaN,NaN,NaN,"Shonto Junction, Arizona"
64,NN0400824,Baby Rocks,Arizona,4.0,0.4167,No,NaN,NaN,NaN,10.0,...,30.0,4.4,No,NaN,NaN,NaN,NaN,NaN,NaN,"Baby Rocks, Arizona"
65,NN0403003,Kayenta,Arizona,4.0,0.5280,No,NaN,NaN,NaN,10.0,...,30.0,2.7,No,1.3,0.0020,No,15.0,1.0,No,"Kayenta, Arizona"
66,NN4900224,Oljato,Arizona,4.0,0.5941,No,NaN,NaN,NaN,10.0,...,30.0,7.3,No,1.3,0.0740,No,15.0,1.0,No,"Oljato, Arizona"
67,NN4903032,Mexican Hat,AZ,4.0,0.4658,No,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.3,0.0955,No,NaN,NaN,NaN,"Mexican Hat , AZ"
68,NN4903073,Cane Valley,Arizona,4.0,0.7600,No,60.0,2.3000,No,10.0,...,30.0,3.1,No,1.3,0.0565,No,NaN,NaN,NaN,"Cane Valley, Arizona"
69,NN0400399,Sweetwater,AZ,4.0,0.3646,No,60.0,13.7000,No,10.0,...,30.0,29.6,No,1.3,0.1400,No,NaN,NaN,NaN,"Sweetwater , AZ"
70,NN0403055,Teec Nos Pos,AZ,4.0,0.7583,No,NaN,NaN,NaN,NaN,...,30.0,7.3,No,1.3,0.0740,No,NaN,NaN,NaN,"Teec Nos Pos , AZ"
71,NN4900220,Aneth,AZ,4.0,0.6850,No,NaN,NaN,NaN,10.0,...,30.0,7.0,No,1.3,0.0640,No,15.0,1.0,No,"Aneth , AZ"
72,NN4903017,Red Mesa,AZ,4.0,0.5300,No,NaN,NaN,NaN,10.0,...,30.0,1.0,No,1.3,0.1390,No,15.0,1.0,No,"Red Mesa , AZ"
73,NN4903018,Montezuma Creek,AZ,4.0,0.5792,No,NaN,NaN,NaN,10.0,...,30.0,4.4,No,1.3,0.1445,No,NaN,NaN,NaN,"Montezuma Creek , AZ"
74,NN4903071,Todahaidekani,AZ,4.0,0.5033,No,60.0,2.7000,No,10.0,...,NaN,NaN,NaN,1.3,0.2000,No,NaN,NaN,NaN,"Todahaidekani , AZ"
75,NN4903072,Mexican Water,AZ,4.0,0.3525,No,NaN,NaN,NaN,10.0,...,NaN,NaN,NaN,1.3,0.1085,No,NaN,NaN,NaN,"Mexican Water , AZ"
76,NN4903074,Casa Del Eco Mesa,AZ,4.0,0.6850,No,NaN,NaN,NaN,NaN,...,30.0,3.6,No,1.3,0.0465,No,NaN,NaN,NaN,"Casa Del Eco Mesa , AZ"
77,093503042,Torreon and Ojo Encino East,New Mexico,4.0,0.6958,No,60.0,11.0000,No,NaN,...,30.0,1.1,No,1.3,0.0860,No,NaN,NaN,NaN,"Torreon and Ojo Encino East, New Mexico"
78,NN3500211,Mariano Lake,New Mexico,4.0,0.5773,No,NaN,NaN,NaN,NaN,...,30.0,3.8,No,1.3,0.0750,No,15.0,2.0,No,"Mariano Lake, New Mexico"
79,NN3500239,Whitehorse Lake,New Mexico,4.0,0.4583,No,60.0,13.0000,No,10.0,...,NaN,NaN,NaN,1.3,0.0020,No,15.0,1.0,No,"Whitehorse Lake, New Mexico"
80,NN3500254,Baca and Haystack,New Mexico,4.0,1.1650,No,NaN,NaN,NaN,NaN,...,30.0,1.3,No,1.3,0.0290,No,NaN,NaN,NaN,"Baca and Haystack, New Mexico"
81,NN3500256,Casamero Lake and Smith Lake,New Mexico,4.0,1.0350,No,NaN,NaN,NaN,NaN,...,30.0,4.7,No,1.3,0.3400,No,15.0,1.0,No,"Casamero Lake and Smith Lake, New Mexico"
82,NN3500258,Iyanbito,New Mexico,4.0,0.7254,No,NaN,NaN,NaN,NaN,...,30.0,1.5,No,1.3,0.0880,No,NaN,NaN,NaN,"Iyanbito, New Mexico"
83,NN3500269,White Rock and Lake Valley,New Mexico,4.0,0.2325,No,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.3,0.0360,No,15.0,1.5,No,"White Rock and Lake Valley, New Mexico"
84,NN3500292,Bread Springs and Chichiltah,New Mexico,4.0,0.6971,No,NaN,NaN,NaN,NaN,...,30.0,3.0,No,1.3,0.0670,No,15.0,2.0,No,"Bread Springs and Chichiltah, New Mexico"
85,NN3500303,Thoreau,New Mexico,4.0,0.8179,No,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.3,0.0600,No,NaN,NaN,NaN,"Thoreau, New Mexico"
86,NN3500335,Red Rock,New Mexico,4.0,0.6279,No,NaN,NaN,NaN,NaN,...,30.0,2.3,No,1.3,0.0780,No,NaN,NaN,NaN,"Red Rock, New Mexico"
87,NN3503029,Standing Rock,New Mexico,4.0,0.6342,No,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.3,0.0450,No,NaN,NaN,NaN,"Standing Rock, New Mexico"
88,NN3503039,Crownpoint,New Mexico,4.0,0.7406,No,NaN,NaN,NaN,10.0,...,30.0,29.0,No,1.3,0.0270,No,15.0,2.0,No,"Crownpoint, Littlewater and three Mile Post, N..."
89,NN3503041,Ojo Encino North,New Mexico,4.0,0.6154,No,60.0,6.2000,No,NaN,...,30.0,3.1,No,1.3,0.0820,No,15.0,1.0,No,"Ojo Encino North, New Mexico"
90,NN3503060,Casamero Cup,New Mexico,4.0,0.8971,No,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Casamero Cup, New Mexico"
91,NN3510002,Boardman Loop,AZ,4.0,0.5992,No,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.3,0.0330,No,NaN,NaN,NaN,"Boardman Loop , AZ"
92,NN0400822,Twin Arrows,Arizona,4.0,0.4292,No,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Twin Arrows, Arizona"

In [ ]:
!pip install pandas googlemaps

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (1.4.4)
Requirement already satisfied: googlemaps in /usr/local/lib/python3.9/dist-packages (4.10.0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: requests<3.0,>=2.20.0 in /usr/local/lib/python3.9/dist-packages (from googlemaps) (2.27.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2022.12.7)

In [ ]:
# Make adjustment to these community names that were wrong.
df_waterdata.at[85,'Community Name'] = "Thoreau"
df_waterdata.at[15,'Community Name'] = "Window Rock"
df_waterdata.at[88,'Community Name'] = "Crownpoint"
df_waterdata.at[55,'Community Name'] = "Steamboat"
df_waterdata.at[17,'Community Name'] = "Concho"
df_waterdata.at[69,'Community Name'] = "Concho"
df_waterdata.at[69,'Community Name'] = "Cottonwood"
df_waterdata.at[83,'Community Name'] = "Lakey Valley"
df_waterdata.at[32,'Community Name'] = "Blue Gap"
df_waterdata.at[76,'Community Name'] = "Casa del Eco Mesa"
df_waterdata.at[76,'State'] = "Utah"

In [ ]:
df_waterdata['Address'] = df_waterdata['Community Name'] + ', ' + df_waterdata['State']

In [ ]:
# Use Google Maps API to get location data for each community.
import googlemaps

# Replace YOUR_API_KEY with your actual API key
gmaps = googlemaps.Client(key='AIzaSyCYrrV1a2CMdhyixVESkhu2Q2SeSuWBzMo')

# Define a list of towns and states
#towns = ['Thoreau West, John Willie Camp and Baca, New Mexico', 'Pine Springs, Arizona', 'Coyote Canyon , AZ', 'Chicago, IL', 'Seattle, WA']
towns = df_waterdata['Address'].tolist()

# Define a function to get the latitude, longitude, and altitude of an address
def get_geocode(address):
    geocode_result = gmaps.geocode(address)
    location = geocode_result[0]['geometry']['location']
    lat = location['lat']
    lng = location['lng']
    altitude = gmaps.elevation((lat, lng))[0]['elevation']
    return lat, lng, altitude

# Create a list of dictionaries containing the latitude, longitude, and altitude
results = []
for town in towns:
    town_state = town.split(', ')
    address = town_state[0] + ', ' + town_state[1]
    lat, lng, altitude = get_geocode(address)
    result = {'Latitude': lat, 'Longitude': lng, 'Altitude (Meters)': altitude}
    results.append(result)

# Convert the list of dictionaries to a pandas dataframe and save it to a CSV file
df_geo = pd.DataFrame(results)
df_geo

     Latitude   Longitude  Altitude (Meters)
0   35.609465 -108.829253        2005.309204
1   34.048928 -111.093731        1534.655396
2   35.405300 -109.280097        2124.082520
3   35.475560 -109.126940        1995.994629
4   35.902511 -109.165931        2339.757080
..        ...         ...                ...
88  35.678077 -108.151179        2125.853271
89  35.955574 -107.347824        2055.937744
90  34.519940 -105.870090        1917.724487
91  34.048928 -111.093731        1534.655396
92  35.161081 -111.279207        1796.790405

[93 rows x 3 columns]

In [ ]:
df_finaldata = pd.merge(df_waterdata, df_geo, left_index=True, right_index=True)
df_finaldata

,Public Water System ID #,Community Name,State,Chlorine Max Level,Chlorine Measured Level,Chlorine Exceeded,Five Haloacetic Acids Max Level,Five Haloacetic Acids Measured Level,Five Haloacetic Acids Exceeded,Arsenic Max Level,...,Copper Max Level,Copper Measured Level,Copper Exceeded,Lead Max Level,Lead Measured Level,Lead Exceeded,Address,Latitude,Longitude,Altitude (Meters)
0,093500302,Rock Springs,New Mexico,4.0,0.6637,No,NaN,NaN,NaN,NaN,...,1.3,0.041,No,NaN,NaN,NaN,"Rock Springs, New Mexico",35.609465,-108.829253,2005.309204
1,NN0400280,Houck and Querino Canyon,Arizona,4.0,0.4213,No,NaN,NaN,NaN,NaN,...,1.3,0.090,No,15.0,2.0,No,"Houck and Querino Canyon, Arizona",34.048928,-111.093731,1534.655396
2,NN0400813,Pine Springs,Arizona,4.0,0.2900,No,60.0,2.6,No,NaN,...,1.3,0.476,No,15.0,3.5,No,"Pine Springs, Arizona",35.405300,-109.280097,2124.082520
3,NN0403015,Oak Springs,Arizona,4.0,0.3767,No,NaN,NaN,NaN,10.0,...,1.3,0.082,No,NaN,NaN,NaN,"Oak Springs, Arizona",35.475560,-109.126940,1995.994629
4,NN0403025,Sawmill,Arizona,4.0,0.1075,No,60.0,11.0,No,10.0,...,1.3,1.300,No,15.0,2.8,No,"Sawmill, Arizona",35.902511,-109.165931,2339.757080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,NN3503039,Crownpoint,New Mexico,4.0,0.7406,No,NaN,NaN,NaN,10.0,...,1.3,0.027,No,15.0,2.0,No,"Crownpoint, New Mexico",35.678077,-108.151179,2125.853271
89,NN3503041,Ojo Encino North,New Mexico,4.0,0.6154,No,60.0,6.2,No,NaN,...,1.3,0.082,No,15.0,1.0,No,"Ojo Encino North, New Mexico",35.955574,-107.347824,2055.937744
90,NN3503060,Casamero Cup,New Mexico,4.0,0.8971,No,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"Casamero Cup, New Mexico",34.519940,-105.870090,1917.724487
91,NN3510002,Boardman Loop,AZ,4.0,0.5992,No,NaN,NaN,NaN,NaN,...,1.3,0.033,No,NaN,NaN,NaN,"Boardman Loop , AZ",34.048928,-111.093731,1534.655396
92,NN0400822,Twin Arrows,Arizona,4.0,0.4292,No,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"Twin Arrows, Arizona",35.161081,-111.279207,1796.790405

In [ ]:
df_finaldata.to_csv('final_data.csv')
!cp final_data.csv "/content/gdrive/MyDrive/ColabNotebooks/DATASCI112_FinalProject"